!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "Meetup Directory"
    = stylesheet_link_tag :application, :media => "all"
    = yield :stylesheets

    = javascript_include_tag :application
    = yield :javascript
    = csrf_meta_tags
  %body
    %header.navbar.navbar-fixed-top.navbar-inverse
      %nav.navbar-inner
        .container
          = render 'shared/navigation'
    #main{:role => "main"}
      .container
        .content
          = render 'shared/notifications'
          = yield
          %footer
