= simple_form_for @user do |f|
  = f.input :first_name
  = f.input :last_name
  = f.input :superhero, placeholder: 'Superhero name goes here'
  = f.association :meetups, as: :check_boxes, wrapper: :vertical_radio_and_checkboxes
  = f.button :submit
