.page-title
  %h1 Users
  = link_to 'Add New User', new_user_path, class: 'btn btn-primary'

%table.table.table-striped
  %thead
    %tr
      %th First Name
      %th Last Name
      %th Superhero
      %th Actions
  %tbody
    - @users.each do |user|
      %tr
        %td= user.first_name
        %td= user.last_name
        %td= user.superhero
        %td
          = link_to 'View', user_path(user)
          |
          = link_to 'Edit', edit_user_path(user)
